services:
  # 1. Веб-сервис (Django)
  - type: web
    name: currency-tracker-web
    env: docker
    repo: https://github.com/sabr-exe/fin_tracker 
    plan: free # Бесплатный тариф
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: currency-db
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: currency-redis
          property: connectionString

  # 2. Celery Worker (Выполняет задачи)        
  - type: worker
    name: currency-tracker-worker
    env: docker
    dockerCommand: celery -A config -A worker -l info
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: currency-db
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: currency-redis
          property: connectionString

  # 3. Celery Beat (Запускает задачи по расписанию)
  - type: worker
    name: currency-tracker-beat
    env: docker
    dockerCommand: celery -A config beat -l info
    envVars:
      - key: REDIS_URL
        fromService:
          type: redis
          name: currency-redis
          property: connectionString
  # 4. Redis (Брокер сообщений)
  - type: redis
    name: currency-redis
    plan: free
    ipAllowList: [] # Позволяет сервисам Render подключаться внутри сети          

databases:
  # 5. PostgreSQL (База данных)
  - name: currency-db
    plan: free



