<!DOCTYPE html>
<html>
<head>
    <title>График курса USD</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body { font-family: sans-serif; padding: 20px; }
        .chart-container { width: 80%; margin: 0 auto; }
    </style>
</head>
<body>
    <div class="chart-container">
        <h2>Динамика курса USD 💵</h2>
        <div style="margin-bottom: 20px;">
    <label for="currency-select">Выберите валюту: </label>
    <select id="currency-select" onchange="location = '?currency=' + this.value;">
        {% for code in currencies %}
            <option value="{{ code }}" {% if code == selected_currency %}selected{% endif %}>
                {{ code }}
            </option>
        {% endfor %}
    </select>
</div>
        <canvas id="rateChart"></canvas>
    </div>

    <script>
        const ctx = document.getElementById('rateChart');

        new Chart(ctx, {
            type: 'line', // Тип графика: линейный
            data: {
                // Обрати внимание: мы используем |safe, чтобы Django не экранировал кавычки
                labels: {{ labels|safe }},
                datasets: [{
                    label: 'Курс USD к BYN',
                    data: {{ values|safe }},
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1,
                    fill: false
                }]
            }
        });
    </script>
</body>
</html>